@import '../../assets/styles/scss/styles.scss';

.post__title {
  padding: 30px ;
}

@media (max-width: 1190px) {
  .post__title {
    padding-left: 25px;
    padding-bottom: 20px;
  }
}

@media (max-width: 510px) {
  .post__title {
    font-size: $xxl-font-size;
  }
}

@media (max-width: 377px) {
  .post__title {
    font-size: $xl-font-size;
  }
}